.list{
	display: flex;
	flex-direction: column;
	background-color: #F8F8F8;
	border-top: #D9D9D9 6rpx solid;
	border-right: #D9D9D9 8rpx solid;
	padding: 20rpx;
	margin-left: 20rpx;
	margin-right: 20rpx;
	border-radius: 15rpx;
	overflow: hidden;
	margin-top: 20rpx;
}

.emergent{
	background: #EB3349;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-weight: 500;
}

.info{
	font-weight: 300;
	margin-top: 20rpx;
	
}